body{
    background-color: #4e759c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 30px;
}
a{
    color: black;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: 5px solid;
}
.center{
    text-align: center;  
}
.center1{
    text-align: right;
}
.center2{
    text-align: left;
}
.imagem{
    display: flex;
    justify-content: space-around;
}
h1{
    color: rgb(10, 3, 3);
    text-align: center;
}
h2{
    color: blanchedalmond;
    text-align: center;
}
h3{
    color: rgb(43, 39, 31);
}
p{
    color: beige;
}

footer img{
    width: 80px;
    height: 50px;
    border-radius:80px;
}

footer{
    
    display:flex;
    justify-content: space-around;
}
.container{
    padding: 50px 50px;
}
footer a{
         text-align: center;
}
.final{
    text-align: center;
    font-size: 15px;

}
#texto{
    font-size: 25px;
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
small{
    color: brown;
}



    

    
